* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  overflow-x: hidden; /* hides horizontal scrollbar */
}


body {
    font-family: "Red Hat Display", sans-serif;
    line-height: 1.5;
    letter-spacing: 0px;
    overflow-x: hidden;
}

/* MOBILE FIRST */

.logo {
    text-align: center;
    padding: 2rem 0 1rem 0;
}
.hero {
    /* width: 350px; */
    min-height: 100vh; /*full screen height*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}

.hero-tablet-mobile-wrap  {
    position: relative;
    padding-bottom: 3rem;
}

.tablet-img {
    position: relative; /*Allows for spilling out without removing completely like absolute*/
    left: -20%; /*shifts to the right by 20%*/

    max-width: none; /*Allows for spillage bigger than its parent container*/
    width: 140%; /*how much bigger we want it to be*/
    height: auto;

    object-fit: cover;
}

.hero-desktop-image {
    display: none;
}

.hero-content {
    max-width: 380px;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0px;
    line-height: 110%;
    font-weight: 800;
    margin-bottom: 24px;
}

p {
    color: #87879D;
    margin-bottom: 24px;
    font-size: 18px;
}

.buttons  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center; /*eliminates stretch*/
}


.download-btn  {
    /* padding: 10px 15px; */
    width: 193px;
    height: 56px;
    border: none;
    background: hsl(192, 37%, 48%);
    color: #fff;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.download-btn:hover {
    opacity: 0.8;
}

.download-btn span {
    color: hsl(192, 90%, 77%);
}

.info-btn {
    width: 161px;
    height: 56px;
    border: none;
    background: hsl(268, 34%, 53%);
    color: #fff;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.info-btn:hover {
    opacity: 0.8;
}

.middle {
    min-height: 100vh; /*full screen height*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}

.middle-content p {
    margin-bottom: 7rem;
}

.divider {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
}

.line {
    width: 2px;
    height: 80px;
    background-color: #D1D1DF;
}

.circle {
    background: #fff;
    border: 2px solid #D1D1DF;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #87879D;
    font-weight: 700;
}

.middle-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: auto; */
    gap: 1rem;
    margin-bottom: 2rem;
}

.grid-images {
    width: 215px;
    height: auto;
    border-radius: 10px;
}

.middle-content {
    margin-top: 2rem;
    margin: 0 auto;
    max-width: 400px;
}

.middle-content h3 {
    color: hsl(192, 37%, 48%);
    font-size: 1rem;
    letter-spacing: 4px;
    margin: 4rem 0 2rem 0;
}

.middle-content h2 {
    color: hsl(240, 21%, 20%);
    font-size: 40px;
    line-height: 110%;
    font-weight: 800;
    margin-bottom: 2rem;
}

.middle-content .divider {
    margin-bottom: 0;
    /* transform: translateY(-50%); */
}

.background-image {
    background-image: url(./assets/image-footer-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 400px;
}

.background {
    background-color: hsla(192, 37%, 48%, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

footer {
    position: relative;
}

#divider-two {
    margin-bottom: 0px;
    position: absolute;
    top: -110px;
    left: 48%;
    z-index: 1;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer h2 {
    font-size: 40px;
    line-height: 110%;
    color: #fff;
    margin: 24px 0 24px 0;
}

footer p {
    color: #fff;
    /* margin: 2rem; */
    text-align: center;
    line-height: 140%
}

footer .download-btn {
    background: hsl(268, 34%, 53%);
    margin-bottom: 4rem;
}

footer .download-btn span {
    color: hsl(268, 100%, 86%);
}

footer h2 {
    font-size: 40px;
    line-height: 110%;
    margin: 4rem 0 1.5rem 0;
}


/* MEDIA QUERIES */

/* SMALL TABLETS */

@media screen and (min-width: 768px) {
    .hero-content {
        max-width: 500px;
    }

    .hero-content h1 {
        font-size: 3.5rem;
    }

    .hero-content .buttons{
        flex-direction: row;
    }

    .middle-images {
        display: flex;
    }

    .middle-content {
        max-width: 600px;
    }

    .footer-content {
        max-width: 750px;
    }

    .background-image {
        background-image: url(./assets/image-footer-tablet.jpg);
    }

    
}

@media screen and (min-width: 1440px) {

  

    .hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .hero-tablet-mobile-wrap {
        display: none;
    }

    .hero-desktop-image {
        display: block;
    }

    .middle {
        max-width: 1120px;
        margin: 0 auto;
    }

    .grid-images {
        width: 256px;
        height: auto;
    }

    .background-image {
        background-image: url(./assets/image-footer.jpg);
    }

    
    

    .footer-content {
        flex-direction: row; /* side by side */
        justify-content: space-between;
        align-items: center;
        text-align: left;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-content h2 {
        flex: 1; /* take space on left */
        font-size: 2rem;
        font-weight: 700;
    }

     .footer-content h2, 
     .footer-content p {
        margin: 0; /* remove extra spacing */
       
  }

    .footer-content p {
        flex: 1.5; /* middle text */
        text-align: left;
        /* max-width: 500px;  */
    }


    

    .footer-content .download-btn {
        /* flex: 1;  */
        cursor: pointer;
        margin: 0;
    }
}